name: Build Flatpak

on:
  workflow_dispatch:

jobs:
  flatpak:
    name: Flatpak
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/andyholmes/flatter/freedesktop:25.08
      options: --privileged

    steps:
      - uses: actions/checkout@v5

      - name: Setup GPG
        id: gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - uses: andyholmes/flatter@main
        with:
          files: io.github.mpvqc.mpvQC.yml
          gpg-sign: ${{ steps.gpg.outputs.fingerprint }}
          upload-pages-artifact: true
          upload-pages-includes: |
            mpvQC.flatpakref

  deploy:
    name: Deploy
    if: ${{ github.ref == 'refs/heads/main' }}

    needs: flatpak
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      pages: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
